body 
{
	text-align:center;
	font-family:Tahoma;
	background:#0b0b0b;
	color:#b9b9b9;
}

#container
{
	width:100%;
}
#wrapper
{
		width:960px;
	background:#272727;margin:0px auto;
	padding:0px;
	

}

/*header*/
#banner
{
	width:100%;
	float:left;
}
#header45
{
	
	padding:0px auto;
	margin:0px auto;
	width:960px;
	height:180px;
	background:url(images/banner.gif) repeat-x;
}


#header54 h1 { margin: 0; }
/*end*/
/*menu*/
#navigation
{
	
	
		width:960px;
	background:url(images/menu_bg_center.gif) repeat-x;
	height:49px;
	margin:1px auto;
	padding:0px auto;
	position:relative;
}
#menu_main
{
	width:100%;
	float:left;
	background:url(images/menu_bg_left.gif) repeat-x;
	height:49px;
}
#n-nav
{
	width:648px;
	margin-left:12px;
	float:left;
	margin-top:6px;
	
	
}
.searchcss,
a.searchcss{ 
	font-size:0px; 
	float:right; 
	display: block; 
	width:45px; 
	height:44px; 
	text-indent:-99999px; overflow:hidden;
	cursor:pointer; 
	position:absolute; right:10px; top:-12px;
	background:url(images/search01.png) no-repeat -226px top;
}
#dnn_dnnSEARCH_txtSearch{
	background: none;
	border: none;
	width:230px;
	position:absolute;
	padding:0px;
	padding:6px 0px 0px; 
	left:2px;
	top:4px;
	font-size:14px; 
	color:#ffffff;
	float:left;
}
.search_position{
	position:absolute;
	right:45px;
	bottom:17px;
	z-index:15;
	background:url(images/search01.png) no-repeat left top;
	width:224px;
	height:27px;
}
#n-search
{
	width:280px;
	height:35px;
	margin-top:6px;
	float:right;background:url(images/search.gif) no-repeat;
	margin-right:5px;
}
/*--------- dnn menu style ----------*/
/* main menu td */
.main_dnnmenu_bar 
{
	cursor:pointer;
	font-size: 12px; 
	background-color:transparent;
	padding:0px;
}

/*  Main Menu Normal  */
.main_dnnmenu_rootitem  
{	background:url(images/menu_separator.png) no-repeat center right;
	color: #ffffff;
	font-size: 14px; 
	font-weight:bold;
	text-align:center; 
	padding:8px 15px 8px 15px;
	 margin-right:1px;
	white-space:nowrap;
	float:left;
	font-weight:bold;
}


/*  Main menu hover  */
.main_dnnmenu_rootitem_hover
{  
	color:#ffffff;
	font-size: 14px; 
	
	text-align:center;
	padding:9px 15px 9px 15px;
	background:url(images/menu_hover.gif) no-repeat center right;
	 margin-right:1px;
	white-space:nowrap;
	float:left;
}

/*  Main menu selected  */
.main_dnnmenu_rootitem_selected 
{
	color:#ffffff;
	font-weight:bold;
	text-align:center;
	font-size: 14px;
	padding:9px 15px 9px 15px;
background:url(images/menu_hover.gif) no-repeat center right;
	 margin-right:1px;
	white-space:nowrap;
	float:left;
	
	
}

/*  SUB Menu Normal */
.main_dnnmenu_submenu 
{
	border:1px solid #000;
}

.main_dnnmenu_submenu td
{
	background-color:#000000;
	z-index: 900;
	font-size: 12px; 
	font-weight:bold;
	text-align:left;
	color:#ffffff;
	line-height:2em;
	padding: 0px 5px;
	margin:0px;
}

/*  SUB Menu hover & selected */
.main_dnnmenu_itemhover td   
{  
	background: #d2d3d5  repeat-x top left;
	color:#ffffff;
}
.main_dnnmenu_itemselected td{
    background: #d2d3d5  repeat-x top left;
	color:#ffffff;
}

.main_dnnmenu_break
{
	height: 2px;
	background-color: #D5E0FF;
}

/* Module Action Menus */
.ModuleTitle_SubMenu
{
	border:1px solid #C0D6E5;
}

.ModuleTitle_SubMenu td{
	background-color:#F8FAFF;
	white-space: nowrap;
} 

.ModuleTitle_MenuIcon {
	background-color:#F8FAFF; 
	border:none;
	padding: 0px 2px;
}

.ModuleTitle_MenuItemSel td, .ModuleTitle_MenuItemSel .ModuleTitle_MenuIcon{
	background: #CE0D0D  repeat-x top left;
	color: #fff;
}

.ModuleTitle_MenuBreak td, .ModuleTitle_MenuBreak .ModuleTitle_MenuIcon
{
	height: 2px;
	background-color: #D5E0FF;
}
/*end*/
/*content*/
#main_content
{
	width:100%;
	float:left;
	
}
#content-container
{
	width:960px;
	background:#272727;
	margin:0px auto;
	padding:0 auto;
}
.content
{
	
	padding:0px;
	font-size:12px;color:#b9b9b9;
	
}

.aside
{
	
	font-size:12px;
	padding:0px;
margin:0 0 0 12px;color:#b9b9b9;
}
.c_left
{
	float:left;
	margin:0;
	padding:0;
}
.bottompane
{
	width:960px;
	padding:0px;
	float:left;
}
.toppane
{
	width:960px;
	padding:0px;float:left;
}

.user
{
	color:White;
	font-size:12px;
	}

/*end*/
/*footer*/
#footer23
{
		clear: left;
	
	
	width:100%;
	
	float:left;
	

}
#linkvnn
{
	width:960px;
	height:150px;
	margin:5px auto;
	padding:0px auto;
	background:url(images/footer.png) repeat-x;text-align:center;
}
span.links
{
	background:url(images/footer_menu_separator.png) no-repeat center;
}
span#dnn_dnnLINKS_lblLinks
{
		background:url(images/footer_menu_separator.png) ;
}

.links { padding:5px; text-align:center;}
.links,a.links:link,a.links:active,a.links:visited{  float:left; font-size:12px; color:#ffffff; display:block; font-family:Tahoma; font-weight:bold; padding:10px 3px; font-weight:bold;}
a.links:hover{color:#ffffff;}
#linl_foy
{
	width:500px;
	margin:0px auto;
	padding:0px auto;
	text-align:center;
	
}
#linl_foy span
{
		margin:0px auto;
	padding:0px auto;

}
#text
{
	width:960px;
	float:left;
}
#text p
{
	text-align:center;
	font-size:14px;
	color:#FFFFFf;
	font-family:Tahoma;
}


/*end*/

