<?xml version="1.0" encoding="utf-16"?>
<EventQueueConfig>
  <PublishedEvents>
    <Event>
      <EventName>Application_Start</EventName>
      <Subscribers>3793c555-ea9f-4065-90aa-d9f9519d8b23</Subscribers>
    </Event>
    <Event>
      <EventName>Application_Start_FirstRequest</EventName>
      <Subscribers>3793c555-ea9f-4065-90aa-d9f9519d8b23</Subscribers>
    </Event>
  </PublishedEvents>
  <EventQueueSubscribers>
    <Subscriber>
      <ID>3793c555-ea9f-4065-90aa-d9f9519d8b23</ID>
      <Name>DNN Core</Name>
      <Address />
      <Description />
      <PrivateKey>1156D54C122837B0704AB5DA751F7512</PrivateKey>
    </Subscriber>
  </EventQueueSubscribers>
</EventQueueConfig>
